.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  body{
    padding: 0;
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;

    font-size: 14px;
    font-weight: 14px;
    line-height: 26px;

    background-image: url(../img/second-page/second-page__background.png);
    background-size:100%;
    background-position: top center;
    background-repeat: no-repeat;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
  /*HEADER*/
  }

.main-navigation{
  font-weight: 700; 
  background-color: #fff;

  padding: 0;
}
.navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 56px;
}
.navigation-list a{
  color:#000;
}
.navigation-item{
  padding-left: 75px;
  padding-right: 75px;
}
.item-logo{
  height: 100%;
}
.item-position a{
    color:#766357;
}
/*MAIN*/
.infrastructure{
    display: flex;
}
.infrastructure-item{
    margin-top: 15px;   
    color:#fff;
}
.item1{
    margin-left: 102px;
    
}
.item2{
    margin-left: 115px;
}
.item3{
    margin-left: 420px;
    text-align: center;
}
.input-infrastructure{
    padding-bottom: 34px;
}
.button-cost__view{
    width: 133px;
    height: 32px;
    margin-top: 24px;
    border: 2px solid #ffffff;

    background:transparent;
    text-transform: uppercase;
    color:#fff;
}
.category-header{
    display: flex;
    color: #000;
    background-color: #fff;
}
.category-list{
    display: flex;
    align-items: center;
    padding-left: 50px;

}
.category-item{
    opacity: 0.3;
    color: #000000;
    margin-left: 35px;

    border-bottom: 1px dashed #000000;
}
.category-search{
    padding-left: 72px;
    padding-right: 50px;
    
}
.category-header img{
    width: 10px;
    height: 11px;
    margin-top: 26px;
}
.button-sorting{
    margin-left: 550px;
}


