
  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;

    font-size: 14px;
    font-weight: 14px;
    line-height: 26px;

    background-image: url(../img/second-page/second-page__background.png);
    
    background-position: top center;
    background-repeat: no-repeat;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
    /*HEADER*/

    .main-navigation{
      font-weight: 700; 
      background-color: #fff;
    
      padding: 0;
    }
    .navigation-list{
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin: 0;
      padding: 0;
    
      margin-left: -27px;
      height: 56px;
    }
    .navigation-list a{
      color:#000;
    }
    .navigation-item{
      padding-left: 75px;
      padding-right: 75px;
    }
    .item-logo{
      height: 100%;
    }
.item-position a{
    color:#766357;
}
/*MAIN*/
.main-container{
  max-width: 1200px;
  margin: auto;
}
.infrastructure{
    display: flex;
    max-width: 1366px;
    width:100%;
    margin: auto;
}
.infrastructure-item h3{
  padding-bottom: 31px;
}
.infrastructure-item{
    margin-top: 15px;   
    color:#fff;
}
.item1{
    margin-left: 102px;
    
}
.item2{
    margin-left: 115px;
}
.item3{
    margin-left: auto;
    margin-right: 73px;
    text-align: center;
}
.input-infrastructure{
    padding-bottom: 34px;
}
/*custom*/

.filter-check_checkbox{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-box{
  position: absolute;
  height: 25px;
  width:27px;
  background-image: url(../img/second-page/checkbox-off.png);
  background-repeat: no-repeat;
}
/*checked*/
.filter-check_checkbox:checked + .check-box{
  background-image: url(../img/second-page/checkbox-on.png);
  background-repeat: no-repeat;
}
.filter-check_label-text{
  margin-left:35px;
}
/*range button*/
.input-cost__range{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 2px;
  width: 248px;

  border:none;
  outline:none;
}
.input-cost__range::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 20px;
  height: 22px;

  background-color: #fff;
  border-radius: 12px;

}

.button-cost__view{
    width: 133px;
    height: 32px;
    margin-top: 24px;
    border: 2px solid #ffffff;

    background:transparent;
    text-transform: uppercase;
    color:#fff;
}
.button-cost__view:hover{
  background-color: #fff;
  color:#000;
}
.category-header{
    display: flex;
    color: #000;
    background-color: #fff;

    padding-bottom: 25px;
    padding-top: 27px;
}
.category-list{
    display: flex;
    align-items: center;
    padding-left: 50px;

}
.category-item a{
    opacity: 0.3;
    color: #000000;
    margin-left: 35px;

    border-bottom: 1px dashed #000000;
}
.category-search{
    padding-left: 72px;
    padding-right: 50px;
    
}
.category-header img{
    width: 10px;
    height: 11px;
    margin-top: 15px
  }
.category-header h3,h4{
  margin-top: 5px;
}
.button-sorting{
    margin-left: auto;
    margin-right: 73px;
}
.products-item{
    background-color: #fff;
    display:flex;
    align-items: center;

    padding-left: 72px;
    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid #E5E5E5;
}
.rating{
  margin-left: auto;
  margin-right: 69px;
}
.rating-list{
  display:flex;
  margin-bottom: 40px;
  margin-left: 21px;
  
}
.rating-count{
  padding: 5px 15px 5px 15px;
 
  
  background-color:#f2f2f2;
  color: #666666;

}
.item-border_bot{
  border-bottom: 1px solid #E5E5E5;
}

.item-description{
  padding-left: 30px;
}
.item-description p{
  padding-top: 5px;
  padding-bottom: 7px;
  color: #333333;
}
.description-cost1{
  padding-left: 39px;
}
.description-cost2{
  padding-left: 64px;
}
.description-cost3{
  padding-left: 21px;
}
.category-products__button{
  font-weight: 700;
  text-transform: uppercase;
  padding:8px 17px 8px 17px;
  border: none;

  color:#fff;
}
.button-detail{
  background-color:#81B3D2;
  margin-right: 6px;
}
.button-detail:hover{
  box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.44), 0px 4px 15px rgba(129,179,210, 0.83);
}
.button-reservation{
  background-color: #766357;
}
.button-reservation:hover{
  box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.44), 0px 4px 15px rgba(118,99,87, 0.83);
}
/* FOOTER!!!!*/

.main-footer{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 36px;
  padding-bottom: 20px;
  background-color: #fff;
}
.footer-social__list{
  display: flex;
}
.footer-social__item{
 margin-left: 5px;
 margin-right: 5px;
}
.footer-hashtag{
  font-weight: 700;
  margin-right: 250px;
}
.footer-copyright{
  margin-left: 230px;
  margin-right: 10px;
}

.category-item a:hover{
  color: #81b3d2;
  border:none;
}