.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  body{
    padding: 0;
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-weight: 14px;
    line-height: 26px;

    background-image: url(../img/intro-background.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
.main-navigation{
  font-weight: 700; 
  background-color: #fff;

  padding: 0;
}
.navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  margin-left: -27px;
  height: 56px;
}
.navigation-list a{
  color:#000;
}
.navigation-item{
  padding-left: 40px;
  padding-right: 40px;
}
.item-logo{
  height: 100%;
}
.intro-list{
  margin: 0;
  padding: 0;
  margin-top: 76px;
}
.intro-item img{
  display: block;
  margin: auto;
}
/*intro-item*/
.welcome{
  margin-bottom: 10px;
}
.placement{
  margin-bottom: 70px;
}
.name{
  margin-bottom: 56px;
}
.text{
  margin-bottom: 23px;
}
.main-decoration img{
  display: block;
  margin: auto;
}
/*intro-item*/
.advantage{
  padding-top: 10px; 
  background-color: #fff;
}
.advntage-text{
  text-align: center;
  color: #333333;
}
.column-advantage__list{
  display: flex;
  justify-content: center;
}