.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  body{
    padding: 0;
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;

    font-size: 14px;
    font-weight: 14px;
    line-height: 26px;

    background-image: url(../img/intro-background.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
  }

  /*HEADER*/

.main-navigation{
  font-weight: 700; 
  background-color: #fff;

  padding: 0;
}
.navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  margin-left: -27px;
  height: 56px;
}
.navigation-list a{
  color:#000;
}
.navigation-item{
  padding-left: 75px;
  padding-right: 75px;
}
.item-logo{
  height: 100%;
}
.intro-list{
  margin: 0;
  padding: 0;
  margin-top: 76px;
}
.intro-item img{
  display: block;
  margin: auto;
}
/*intro-item*/
.welcome{
  margin-bottom: 10px;
}
.placement{
  margin-bottom: 70px;
}
.name{
  margin-bottom: 56px;
}
.text{
  margin-bottom: 23px;
}
.main-decoration img{
  display: block;
  margin: auto;
}
/*intro-item*/
.advantage{
  padding-top: 60px; 
  background-color: #fff;
}
.advntage-text{
  text-align: center;
  color: #333333;
}
.text__header{
  padding-bottom: 40px;
}
.sub-text__header{
  padding-bottom: 56px;
  color: #333;

}
.column-advantage__list{
  display: flex;
  justify-content: center;
  
}
.advantage-list{  
  display:flex;
  justify-content: center;
  text-align: center; 
  padding: 0;
  margin: auto;
}

.advantage-item{
  color: #fff;
  background-color: #81b3d2;
}
.advantage-item img{
  height: 100%;
  width:800px;
}
.item-type1{
  padding-left: 59px;
  padding-right: 59px;
}
.item-type2{
  background-color:#EEEEEE;
  color:#000;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 43px;
}
.item-image{
  background-color: #fff;
}
.advantage-item__header{
  font-size:21px;
  padding-top: 26px;
}
.advantage-item__number{
  font-size:   14px;
  color:#DDEAF3;
}
.advantage-item__number2{
  color: #333333;
}
.advantage-item__text{
  color:#DDEAF3;
}
.advantage-item__text2{
  color: #333333;
}
.advantage-image{
  min-height: 256px;
  width: 800px;
  overflow: hidden;
}
.feature-list{
  display: flex;
  justify-content: center;
  padding: 0;
}
.feature-item{
  padding: 60px 50px 87px 50px;
  text-align: center;
}

.main-search__text{
  text-align: center;
  padding-top: 40px;
  margin-bottom: 52px;
}
.search-text{
  color: #333333;
}
.search-header{
  width: 568px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  background-color: #766357;
  color: #fff;
}
.search-wrapper{
  display:flex;
  justify-content: center;

  background-image: url(../img/background-search__map.png);
  max-width: 1200px;
  height: 594px;
  margin: auto;
}
.appointment-form{
  width: 568px;
  height: 450px;

  padding-top: 69px;
  padding-left: 55px;
  box-sizing: border-box;

  font-weight: 700;
  background-color: #fff;
}
.appointment-item{
  padding-bottom: 30px;
}

.appointment-form input{
  width: 330px;
  height: 38px;

  font-weight: 700;
  color: #000;

  border:none;
  background-color: #f2f2f2;
}

.appointment-button{
  width: 458px;
  height: 58px;

  font-weight: 700;
  color:#fff;
  border: none;
  background-color: #81b3d2;  
}
.appointment-button:hover{
  box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.44), 0px 4px 15px rgba(129,179,210, 0.83);
}
#appointment-date__arrival{
  margin-left: 21px;
  padding-left: 13px;
}
#appointment-date__departure{
  margin-left: 17px;
  padding-left: 13px;
}
#appointment-adult{
  margin-left: 37px;
  padding-left: 13px;
}
#appointment-children{
  margin-left: 71px;
  padding-left: 13px;
}

/* FOOTER!!!!*/

.main-footer{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 36px;
  padding-bottom: 20px;
}
.footer-social__list{
  display: flex;
}
.footer-social__item{
 margin-left: 5px;
 margin-right: 5px;
}
.footer-hashtag{
  font-weight: 700;
  margin-right: 250px;
}
.footer-copyright{
  margin-left: 230px;
  margin-right: 10px;
}
.navigation-item a:hover{
  color: #766357;
}


